
        <div class="landing-page_content">
    <div class="landing-page_header">
      <h1>Welcome to Bdaq</h1>
    </div>
    <div class="login-page_container row">
      <div class="col-sm-12 col-xs-12">
          <div class="col-xs-12 col-sm-12">    
            <div class="field-validation-success">
                <%=data.message%>
            </div>    
          </div>
      </div>
    </div>

  </div>
