            <div class="landing-page_content">
                <div class="landing-page_header">
                    <h1>Forgot Password</h1>
                </div>
                <div class="login-page_container row">
                    <div class="col-sm-12 col-xs-12">
                                   
                            <form action="/forgot" method="post" id="forgotPassword-form">
                                <div class="col-xs-12 col-sm-12">
                                        <div class="field-validation-error">
                                                <%= data.error %>
                                            </div>        
                                            <div class="field-validation-success">
                                                <%= data.message %>
                                           </div>    
                                    <input type="email" class="form-control" id="lg_username" name="email" value="" placeholder="Enter email"
                                        autocomplete="off">
                                    <div class="field-validation-error"></div>
                                </div>
                                <div class="col-xs-12 col-sm-12 button-container">
                                    <button class="button button--moema button--moema-white button--moema-white-shadow button--inverted button--text-thick button--size-s button--moema-small"
                                        type="submit">Reset Password</button>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                </div>
                            </form>
                    </div>
                </div>
            </div>      
